:root {
    --ljmu-blue: #1A3278;
    --ljmu-green: #C7D401;
    --grey80: #CCCCCC;
    --grey15: #222222;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    background: var(--grey15);
}

a {
    color: var(--ljmu-blue);
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: transparent;
}

input[type="file"] {
    display: none;
}

.label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.label.red {
    background-color: red;
}

.label.green {
    background-color: green;
}

.label.blue {
    background-color: blue;
}


/* zoom slider */

#slidercontainer {
    --sliderwidth: 600px;
    --sliderheight: 60px;
    --buttonsize: 30px;
    height: var(--sliderwidth);
    /* Width of the outside container */
    width: 70px;
}


/* The slider itself */

#slidercontainer>.slider {
    /* Override default CSS styles */
    /* Firefox */
    appearance: none;
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    writing-mode: none;
    width: var(--sliderwidth);
    /* Full-width */
    height: var(--sliderheight);
    /* Specified height */
    background: var(--ljmu-blue);
    /* LJMU Blue background */
    outline: none;
    /* Remove outline */
    opacity: 0.8;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .1s;
    /* 0.2 seconds transition on hover */
    transition: opacity .1s;
    transform-origin: 0px 0px;
    transform: translate(0px, var(--sliderwidth)) rotate(270deg);
    -moz-transform: translate(0px, var(--sliderwidth)) rotate(270deg);
}


/* Mouse-over effects */

#slidercontainer>.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

#slidercontainer>.slider::-webkit-slider-thumb {
    /* Override default CSS styles */
    /* Firefox */
    appearance: none;
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    writing-mode: none;
    width: var(--buttonsize);
    /* Set a specific slider handle width */
    height: var(--sliderheight);
    /* Slider handle height */
    background: var(--ljmu-green);
    /* LJMU Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#slidercontainer>.slider::-moz-range-track {
    background-color: transparent;
}

#slidercontainer>.slider::-moz-range-thumb {
    width: var(--buttonsize);
    /* Set a specific slider handle width */
    height: var(--sliderheight);
    /* Slider handle height */
    background: var(--ljmu-green);
    /* LJMU Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.zoomresetbutton {
    width: var(--sliderheight);
}


/* RGB slider */

#rgbslidercontainer {
    --sliderheight: 200px;
    --sliderwidth: 20px;
    --buttonwidth: 10px;
    --red-contrast: 25%;
    --blue-contrast: 25%;
    --green-contrast: 25%;
    height: var(--sliderheight);
    /* Width of the outside container */
    width: var(--sliderwidth);
}

.redBrightness {
    background: linear-gradient(to right, black, red, white);
    /* Red */
}

.greenBrightness {
    background: linear-gradient(to right, black, green, white);
    /* Green */
}

.blueBrightness {
    background: linear-gradient(to right, black, blue, white);
    /* Blue */
}

.redContrast {
    background: linear-gradient(to right, black calc(50% - var(--red-contrast)), white calc(50% + var(--red-contrast)));
    /* Red */
}

.greenContrast {
    background: linear-gradient(to right, black calc(50% - var(--green-contrast)), white calc(50% + var(--green-contrast)));
    /* Green */
}

.blueContrast {
    background: linear-gradient(to right, black calc(50% - var(--blue-contrast)), white calc(50% + var(--blue-contrast)));
    /* Blue */
}


/* The slider itself */

#rgbslidercontainer>.slider {
    /* Override default CSS styles */
    /* Firefox */
    appearance: none;
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    writing-mode: none;
    /* Full-width (height after rotation) */
    width: var(--sliderheight);
    /* Specified height (width after rotation) */
    height: var(--sliderwidth);
    outline: none;
    /* Remove outline */
    transform-origin: 0px 10px;
    transform: translate(0px, 190px) rotate(270deg);
    -moz-transform: translate(0px, 190px) rotate(270deg);
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

#rgbslidercontainer>.slider::-webkit-slider-thumb {
    /* Override default CSS styles */
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    writing-mode: none;
    width: var(--buttonwidth);
    /* Set a specific slider handle width */
    height: var(--sliderwidth);
    /* Slider handle height */
    background: transparent;
    /* Grey */
    border: 3px solid black;
    border-radius: 4px;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    /* Cursor on hover */
}

#rgbslidercontainer>.slider::-moz-range-track {
    background-color: transparent;
}

#rgbslidercontainer>.slider::-moz-range-thumb {
    width: var(--buttonwidth);
    /* Set a specific slider handle width */
    height: var(--sliderwidth);
    /* Slider handle height */
    background: transparent;
    /* Grey */
    border: 3px solid black;
    /* Cursor on hover */
}