:root {
    --ljmu-blue: #1A3278;
    --ljmu-green: #C7D401;
    --grey60: #999999;
    --grey15: #222222;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: var(--grey60);
    background: var(--grey15);
}

a {
    color: var(--ljmu-blue);
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: transparent;
}

/* Load file, rgb file, colour map files "button" */

input[type="file"] {
    display: none;
}

.label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.label:hover {
    -webkit-box-shadow: 1px 1px 1px yellow;
            box-shadow: 1px 1px 1px yellow;
}

.label.red {
    background-color: red;
}

.label.green {
    background-color: green;
}

.label.blue {
    background-color: blue;
}

.label.grey {
    background-color: gray;
}

.label.colourmap {
    color: black;
    background-color: silver;
}


/* zoom slider */

#slidercontainer {
    --sliderwidth: 600px;
    --sliderheight: 60px;
    --buttonsize: 30px;
    height: var(--sliderwidth);
    /* Width of the outside container */
    width: 70px;
}


/* The slider itself */

#slidercontainer>.slider {
    /* Override default CSS styles */
    /* Firefox */
    -moz-appearance: none;
         appearance: none;
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    -webkit-writing-mode: none;
        -ms-writing-mode: none;
            writing-mode: none;
    width: var(--sliderwidth);
    /* Full-width */
    height: var(--sliderheight);
    /* Specified height */
    background: var(--ljmu-blue);
    /* LJMU Blue background */
    outline: none;
    /* Remove outline */
    opacity: 0.8;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .1s;
    /* 0.2 seconds transition on hover */
    -webkit-transition: opacity .1s;
    -o-transition: opacity .1s;
    transition: opacity .1s;
    -webkit-transform-origin: 0px 0px;
        -ms-transform-origin: 0px 0px;
            transform-origin: 0px 0px;
    -webkit-transform: translate(0px, var(--sliderwidth)) rotate(270deg);
        -ms-transform: translate(0px, var(--sliderwidth)) rotate(270deg);
            transform: translate(0px, var(--sliderwidth)) rotate(270deg);
    -moz-transform: translate(0px, var(--sliderwidth)) rotate(270deg);
}


/* Mouse-over effects */

#slidercontainer>.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

#slidercontainer>.slider::-webkit-slider-thumb {
    /* Override default CSS styles */
    /* Firefox */
    appearance: none;
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    -webkit-writing-mode: none;
            writing-mode: none;
    width: var(--buttonsize);
    /* Set a specific slider handle width */
    height: var(--sliderheight);
    /* Slider handle height */
    background: var(--ljmu-green);
    /* LJMU Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#slidercontainer>.slider::-moz-range-track {
    background-color: transparent;
}

#slidercontainer>.slider::-moz-range-thumb {
    width: var(--buttonsize);
    /* Set a specific slider handle width */
    height: var(--sliderheight);
    /* Slider handle height */
    background: var(--ljmu-green);
    /* LJMU Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.zoomresetbutton {
    width: var(--sliderheight);
}


/* RGB slider */

.rgbslidercontainer {
    --sliderheight: 200px;
    --sliderwidth: 20px;
    --buttonwidth: 10px;
    --red-contrast: 25%;
    --blue-contrast: 25%;
    --green-contrast: 25%;
}

.redBrightness {
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(red), to(white));
    background: -webkit-linear-gradient(left, black, red, white);
    background: -o-linear-gradient(left, black, red, white);
    background: linear-gradient(to right, black, red, white);
    /* Red */
}

.greenBrightness {
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(green), to(white));
    background: -webkit-linear-gradient(left, black, green, white);
    background: -o-linear-gradient(left, black, green, white);
    background: linear-gradient(to right, black, green, white);
    /* Green */
}

.blueBrightness {
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(blue), to(white));
    background: -webkit-linear-gradient(left, black, blue, white);
    background: -o-linear-gradient(left, black, blue, white);
    background: linear-gradient(to right, black, blue, white);
    /* Blue */
}

.redContrast {
    background: -webkit-gradient(linear, left top, right top, from(black), to(white));
    background: -webkit-linear-gradient(left, black calc(50% - var(--red-contrast)), white calc(50% + var(--red-contrast)));
    background: -o-linear-gradient(left, black calc(50% - var(--red-contrast)), white calc(50% + var(--red-contrast)));
    background: linear-gradient(to right, black calc(50% - var(--red-contrast)), white calc(50% + var(--red-contrast)));
    /* Red */
}

.greenContrast {
    background: -webkit-gradient(linear, left top, right top, from(black), to(white));
    background: -webkit-linear-gradient(left, black calc(50% - var(--green-contrast)), white calc(50% + var(--green-contrast)));
    background: -o-linear-gradient(left, black calc(50% - var(--green-contrast)), white calc(50% + var(--green-contrast)));
    background: linear-gradient(to right, black calc(50% - var(--green-contrast)), white calc(50% + var(--green-contrast)));
    /* Green */
}

.blueContrast {
    background: -webkit-gradient(linear, left top, right top, from(black), to(white));
    background: -webkit-linear-gradient(left, black calc(50% - var(--blue-contrast)), white calc(50% + var(--blue-contrast)));
    background: -o-linear-gradient(left, black calc(50% - var(--blue-contrast)), white calc(50% + var(--blue-contrast)));
    background: linear-gradient(to right, black calc(50% - var(--blue-contrast)), white calc(50% + var(--blue-contrast)));
    /* Blue */
}



.verticalcontainer {
    /* Full-width (height after rotation) */
    width: var(--sliderwidth);
    /* Specified height (width after rotation) */
    height: var(--sliderheight);
}


/* The slider itself */

.rgbslidercontainer>.slider {
    /* Override default CSS styles */
    /* Firefox */
    -moz-appearance: none;
         appearance: none;
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    -webkit-writing-mode: none;
        -ms-writing-mode: none;
            writing-mode: none;
    /* Full-width (height after rotation) */
    width: var(--sliderheight);
    /* Specified height (width after rotation) */
    height: var(--sliderwidth);
    outline: none;
}

.rgbslidercontainer>.verticalslider {
    /* Override default CSS styles */
    /* Firefox */
    -moz-appearance: none;
         appearance: none;
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    -webkit-writing-mode: none;
        -ms-writing-mode: none;
            writing-mode: none;
    /* Full-width (height after rotation) */
    width: var(--sliderheight);
    /* Specified height (width after rotation) */
    height: var(--sliderwidth);
    outline: none;
    /* Remove outline */
    -webkit-transform-origin: 0px 10px;
        -ms-transform-origin: 0px 10px;
            transform-origin: 0px 10px;
    -webkit-transform: translate(0px, 190px) rotate(270deg);
        -ms-transform: translate(0px, 190px) rotate(270deg);
            transform: translate(0px, 190px) rotate(270deg);
    -moz-transform: translate(0px, 190px) rotate(270deg);
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.rgbslidercontainer>.verticalslider::-webkit-slider-thumb {
    /* Override default CSS styles */
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    -webkit-writing-mode: none;
            writing-mode: none;
    width: var(--buttonwidth);
    /* Set a specific slider handle width */
    height: var(--sliderwidth);
    /* Slider handle height */
    background: transparent;
    /* Grey */
    border: 3px solid black;
    border-radius: 4px;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    /* Cursor on hover */
}

.rgbslidercontainer>.verticalslider::-moz-range-track {
    background-color: transparent;
}

.rgbslidercontainer>.verticalslider::-moz-range-thumb {
    width: var(--buttonwidth);
    /* Set a specific slider handle width */
    height: var(--sliderwidth);
    /* Slider handle height */
    background: transparent;
    /* Grey */
    border: 3px solid black;
    /* Cursor on hover */
}


.rgbslidercontainer>.slider::-webkit-slider-thumb {
    /* Override default CSS styles */
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    -webkit-writing-mode: none;
            writing-mode: none;
    width: var(--buttonwidth);
    /* Set a specific slider handle width */
    height: var(--sliderwidth);
    /* Slider handle height */
    background: transparent;
    /* Grey */
    border: 3px solid black;
    border-radius: 4px;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    /* Cursor on hover */
}

.rgbslidercontainer>.slider::-moz-range-track {
    background-color: transparent;
}

.rgbslidercontainer>.slider::-moz-range-thumb {
    width: var(--buttonwidth);
    /* Set a specific slider handle width */
    height: var(--sliderwidth);
    /* Slider handle height */
    background: transparent;
    /* Grey */
    border: 3px solid black;
    /* Cursor on hover */
}


.zminmaxslidercontainer {
    --sliderheight: 200px;
    --sliderwidth: 20px;
    --buttonwidth: 10px;
}

.zminmaxslidercontainer>.slider {
    /* Override default CSS styles */
    /* Firefox */
    -moz-appearance: none;
         appearance: none;
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    -webkit-writing-mode: none;
        -ms-writing-mode: none;
            writing-mode: none;
    /* Full-width (height after rotation) */
    width: var(--sliderheight);
    /* Specified height (width after rotation) */
    height: var(--sliderwidth);
    outline: none;
}

.zMin {
    background: -webkit-gradient(linear, left top, right top, from(black), to(grey));
    background: -webkit-linear-gradient(left, black, grey);
    background: -o-linear-gradient(left, black, grey);
    background: linear-gradient(to right, black, grey);
}

.zMax {
    background: -webkit-gradient(linear, left top, right top, from(grey), to(white));
    background: -webkit-linear-gradient(left, grey, white);
    background: -o-linear-gradient(left, grey, white);
    background: linear-gradient(to right, grey, white);
}

.zminmaxslidercontainer>.slider::-webkit-slider-thumb {
    /* Override default CSS styles */
    /* Chrome */
    -webkit-appearance: none;
    /* IE */
    -webkit-writing-mode: none;
            writing-mode: none;
    width: var(--buttonwidth);
    /* Set a specific slider handle width */
    height: var(--sliderwidth);
    /* Slider handle height */
    background: transparent;
    /* Grey */
    border: 3px solid black;
    border-radius: 4px;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    /* Cursor on hover */
}

.zminmaxslidercontainer>.slider::-moz-range-track {
    background-color: transparent;
}

.zminmaxslidercontainer>.slider::-moz-range-thumb {
    width: var(--buttonwidth);
    /* Set a specific slider handle width */
    height: var(--sliderwidth);
    /* Slider handle height */
    background: transparent;
    /* Grey */
    border: 3px solid black;
    /* Cursor on hover */
}